.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.2;
    color: var(--bs-heading-color);
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    padding: 10px 20px;
    border-radius: 10px;
}
.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
  
}
.service-section {
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.service-section:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.service-section img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.service-section h2 {
  margin: 10px 0;
  font-size: 1.5rem;
}

.service-section p {
  margin: 0;
  padding: 10px;
}

.service-section a {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  width:70%;
  margin-left: 10%;
  margin-bottom: 10%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-section a:hover {
  background-color: #0056b3;
}

.navbar-nav .nav-item.active .nav-link {
  color:  white;
}




